@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,900');

:root {
    --grey: hsl(0, 0%, 86%);
    --purple: hsl(259, 100%, 65%);
}

body {
    background-color: var(--grey);
    font-family: 'Poppins';
    font-size: 1em;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* containers */
#card {
    background-color: white;

    padding: 2em;
    border-radius: 10px 10px 60px 10px;

    width: 100%;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#input-container {
    display: flex;
    gap: 12px;
}

.input {    /* should probably name something else */
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

input {
    font-weight: 800;
    font-size: 1.3em;

    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--grey);
}

label {
    font-weight: 800;
    font-size: 0.5em;
}

input:focus {
    outline: none;
}


/* separator */
.separator {
    display: flex;
}

.line {
    border-top: 1px solid var(--grey);
    flex-grow: 1;
    transform: translateY(50%);
}

#btn {
    background-color: var(--purple);

    padding: 10px;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#btn:hover {
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}


/* content */
#age-container {
    display: flex;
    flex-direction: column;

    font-size: 2em;
    font-style: italic;
    font-weight: 900;
}

.value {
    color: var(--purple);
}


/* mobile */
@media (max-width: 600px) {
    input {
        font-weight: 600;
        font-size: 0.7em;
    }
}